body{
    font-size: 16px;
    color:rgb(89, 41, 219);
}

h1{
    margin: auto;
    font-size: 0.8rem;
    font-weight: 700;
}

p{
    margin: auto;
    font-size: 0.5rem;
    font-weight: 400;
}

h2{
    margin: auto;
    font-size: 0.2rem;
    font-weight: 500;
}

.borde{
    border: 1px;
}

